<!DOCTYPE html>
<html>
<head>
	<title>Sports Catalog</title>
</head>
<body>
<a href='{{url_for("gdisconnect")}}'>Logout</a>
<br>
<h1>Sports Catalog</h1>
<br>
<h2>Categories</h2>
{% for category in categories %}
<a href="{{url_for('items', name = category.name)}}">{{category.name}}</a>
<br>
{% endfor %}
<br><br>
<div>
<a href='{{url_for("add_item")}}'>Add Item</a>
<h2>Latest Items</h2>
{% for item in items %}
<a href="{{url_for('single_item', ctg = item.category.name, item_name = item.name)}}">{{item.name}}</a>
({{item.category.name}})
<br>
{% endfor %}
</div>
</body>
</html>